#review_card1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#review_card2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#review_card3 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#review_card4 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
