#remove_btn {
  background-color: green;
  color: white;
  padding: 2%;
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
}
#checkout_btn {
  background-color: purple;
  color: white;
  padding: 2%;
  width: 50%;
}
#checkout {
  margin-left: 20%;
}
#parent_div {
  margin: 5%;
}
#product_card {
  /* gap: 10px; */
  margin: 10%;
}
#cart_img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* #alldetails {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */
#cartcard {
  background-color: white;
}
#body {
  background-color: lavender;
}
