#item_cardbody {
  border: 2px solid blue;
}
#item_card {
  display: flex;
  padding: 5%;
}
#detail {
  width: 50%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 2%;
}
#heading {
  width: 100%;
}
